<a href="https://colab.research.google.com/github/matini93/daily/blob/main/date_09_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#226. 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string)함수를 작성하라. 
def print_5xn(string):
  chunk_num = int(len(string) / 5)
  for x in range(chunk_num + 1):
    print(string[x * 5: x * 5 + 5])

print_5xn("엄마는외계인")
#못품

엄마는외계
인

In [6]:
#227. 문자열과 한줄에 출력될 글자 수를 입력을 받아 한줄에 입력된 글자 수만큼 출력하는 
#print_mxn(string)함수를 작성하라. 
#print_mxn("아이엠어보이유알어걸",3)

def print_mxn(string, num):
  check_num = int(len(string)/ int(num))
  for x in range(check_num +1 ): 
    print(string[x*int(num): x*int(num)+int(num)])

print_mxn("무궁화꽃이피었습니다",3)

무궁화
꽃이피
었습니
다

In [12]:
#228. 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
#회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다. 
def calc_monthly_salary(num):
  num = int(num)
  print("{}".format(int(num / 12)))

calc_monthly_salary(4500000)

375000