In [1]:
import datetime

In [2]:
datetime.datetime.now()

datetime.datetime(2022, 8, 12, 8, 48, 6, 243730)

In [4]:
#131. for문의 실행결과를 예측하라. 
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수,end=" ")
print("\n")
print("="*40)
print("예상 정답 : 사과, 귤, 수박")

사과 귤 수박

========================================
예상 정답 : 사과, 귤, 수박

In [5]:
#132. for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

print("\n")
print("="*40)
print("예상 정답 : #####가 3번 나온다")

#####
#####
#####


========================================
예상 정답 : #####가 3번 나온다

In [6]:
#133. 다음 for문과 동일한 기능을 수행하는 코드를 작성하세요. 
for 변수 in ["A", "B", "C"]:
  print(변수)
print("="*40)
print("A")
print('B')
print("C")

A
B
C
========================================
A
B
C

In [9]:
#134. for문을 풀어서 동일한 동작을 하는 코드를 작성하라. 
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
print("="*40)
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
========================================
출력: A
출력: B
출력: C

In [10]:
#135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라. 
#for문을 쓰지않고 동일한 결과를 도출하라.
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
print("="*40)
print("변환 : a")
print("변환 : b")
print("변환 : c")

변환: a
변환: b
변환: c
========================================
변환 : a
변환 : b
변환 : c

In [12]:
#136. 다음 코드를 for문으로 작성하라. 
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
print("="*40)
for 변수 in range(10,40,10):
  print(변수)

10
20
30
========================================
10
20
30

In [13]:
#137. 다음 코드를 for문으로 작성하라. 
print(10)
print(20)
print(30)
print("="*40)
for i in range(10,40,10):
  print(i)

10
20
30
========================================
10
20
30

In [14]:
#138. 다음 코드를 for문으로 작성하라. 
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
print("="*40)
for i in range(10,40,10):
  print(i)
  print("-------")

10
-------
20
-------
30
-------
========================================
10
-------
20
-------
30
-------

In [17]:
#139. 다음 코드를 for문으로 작성하라. 
print("++++")
print(10)
print(20)
print(30)
print("="*40)
print("++++")
for i in range(10,40,10):
  print(i)

++++
10
20
30
========================================
++++
10
20
30

In [18]:
#140. 다음 코드를 for문으로 작성하라. 
print("-------")
print("-------")
print("-------")
print("-------")
print("="*40)
for i in range(4):
  print("-------")

-------
-------
-------
-------
========================================
-------
-------
-------
-------

In [20]:
#141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for문을
#사용해서 화면에 출력하라. 단, 부가세는 10원으로 가정한다. 

sell_list = [100, 200, 300]
print("110")
print("210")
print("310")
print("="*40)
for i in sell_list:
  print(i+10)

110
210
310
========================================
110
210
310

In [ ]:
#142. for문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라. 
product_list = ["김밥","라면","튀김"]

for i in product_list:
  print("오늘의 메뉴 : ",i)

In [21]:
#143. 리스트에 주식 종목이름이 저장돼 있다. 
#저장된 문자열의 길이를 다음과 같이 출력하라. 
com_list = ["SK하이닉스","삼성전자", "LG전자"]

print("6")
print("4")
print("4")
print("="*40)
for i in com_list:
  print(len(i))

6
4
4
========================================
6
4
4

In [24]:
#144. 리스트에는 동물이름이 문자열로 저장돼 있다. 
#동물 이름과 글자수를 다음과 같이 출력하라. 
pet_list= ["dog","cat","parrot"]

print("dog 3")
print("cat 3")
print("parrot 6")
print("="*40)
for i in pet_list:
  print(i," ",len(i))

dog 3
cat 3
parrot 6
========================================
dog   3
cat   3
parrot   6

In [25]:
#145. 리스트에서 동물 이름이 저장돼 있다. 
#for문을 사용해서 동물 이름의 첫 글자만 출력하라. 
pet_list= ["dog","cat","parrot"]

for i in pet_list:
  print(i[0])

d
c
p

In [27]:
#146. 리스트에는 세 개의 숫자가 바인딩돼 있다. 
#for문을 사용해서 다음과 같이 출력하라. 
for i in range(1,4):
  print("3 x",i)

3 x 1
3 x 2
3 x 3

In [30]:
#147. 리스트에는 세 개의 숫자가 바인딩돼 있다. 
#for문을 사용해서 다음과 같이 출력하라. 
for i in range(1,4):
  print("3 x ",i,"=",i*3)
print("="*40)
num_list = [1,2,3]
for i in num_list:
  print("{} x {} = {}".format(3,i,i*3))

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9
========================================
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [33]:
#148. 리스트에는 네 개의 문자열이 바인딩돼 있다. 
string_list=["가","나","다","라"]

for i in range(1,len(string_list)):
  print(string_list[i])

나
다
라

In [34]:
#149. 리스트에는 네 개의 문자열이 바인딩돼 있다. 
#for문을 사용해서 다음과 같이 출력하라. 
string_list=["가","나","다","라"]

for i in range(len(string_list)):
  if i % 2 == 0 :
    print(string_list[i])

가
다

In [41]:
#150. 리스트에는 네 개의 문자열이 바인딩돼 있다. 
string_list = ["가", "나", "다", "라"]
#for문을 사용해서 다음과 같이 출력하라. 
print("라")
print("다")
print("나")
print("가")
print("="*40)
for i in range(len(string_list)-1,-1,-1):
  print(string_list[i])
print("="*40)
for i in string_list[::-1]:
  print(i)

라
다
나
가
========================================
라
다
나
가
========================================
라
다
나
가

In [42]:
#151. 리스트에는 네 개의 정수가 저장돼 있다. 
string_list = [3, -20, -3, 44]
#for문을 사용해서 리스트의 음수를 출력하라. 

for i in string_list:
  if i < 0:
    print(i)

-20
-3

In [43]:
#152. for문을 사용해서 3의 배수만을 출력하라. 
sample_list = [3, 100, 23, 44]

for i in sample_list:
  if i % 3 == 0 :
    print(i)

3

In [44]:
#153. 리스트에서 20보다 작은 3의 배수를 출력하라. 
num_list = [13, 21, 12, 14, 30, 18]

for i in num_list:
  if (i%3==0) and (i <20):
    print(i)

12
18

In [45]:
#154. 리스트에서 세 글자 이상의 문자를 화면에 출력하라. 
string_list =["I", "study", "python", "language", "!"]

for i in string_list:
  if len(i) >= 3 :
    print(i)

study
python
language

In [46]:
#155. 리스트에서 대문자만 화면에 출력하라. 
string_list = ["A", "b", "c", "D"]

for i in string_list:
  if i.isupper() : 
    print(i)
  else:
    pass

A
D

In [50]:
#156. 리스트에서 소문자만 화면에 출력하라. 
for i in string_list:
  if i.islower():
    print(i)
  else:
    pass

b
c

In [52]:
#157. 이름의 첫 글자를 대문자로 변경해서 출력하라. 
string_list=['dog', 'cat', 'parrot']

for i in string_list:
  print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [75]:
#158. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. 
string_list = ['hello.py', 'ex01.py', 'intro.hwp']
dummy_list=[]
for i in string_list:
  dummy_list.append(i.split(".")[0])
for j in dummy_list:
  print(j)

hello
ex01
intro

In [88]:
#159. 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라. 
file_list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in  file_list:
  if i[-2:] == ".h":
    print(i)
  else:
    pass

intra.h
define.h

In [89]:
#160. 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라. 
file_list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in file_list:
  if (i[-2:] == ".h") or (i[-2:]==".c"):
    print(i)
  else:
    pass

intra.h
intra.c
define.h

In [90]:
datetime.datetime.now()

datetime.datetime(2022, 8, 12, 11, 9, 50, 136671)