In [1]:
import datetime

In [2]:
datetime.datetime.now()

datetime.datetime(2022, 8, 16, 2, 36, 17, 829675)

In [ ]:
#161. for문과 range 구믄을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라. 
for i in range(100): 
  print(i)

In [5]:
#162. 월드컵은 4년마다 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라. 
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [7]:
#163. 1부터 30까지의 숫자 중 3의 배수를 출력하라. 
for i in range(1,31):
  if i%3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#164. 99부터 0까지 감소하는 숫자들을 한 라인에 하나씩 출력하라. 
for i in range(99,-1,-1):
  print(i)

#for i in ragne(100):
#  print(99-i)

In [19]:
#165. for문을 사용해서 아래와 같이 출력하라. 
for i in range(10):
  print("0.",i)
print("="*40)
for i in range(10): 
  print(i /10)

0. 0
0. 1
0. 2
0. 3
0. 4
0. 5
0. 6
0. 7
0. 8
0. 9
========================================
0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [20]:
#166. 구구단 3단을 출력하라. 
for i in range(1,10):
  print("3 X {} = {}".format(i,3*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [26]:
#167. 구구단 3단을 출력하라. 단 홀수 번째만 출력한다. 
for i in range(1,10): 
  if i%2 == 0:
    pass
  else:
    print("3 X {} = {}".format(i, i*3))

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [36]:
#168. 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문을 사용하여 작성하라. 
num=[]
for j in range(11):
  num.append(j)
  a = sum(num)
print(a)
print("="*40)
num_sum=0
for i in range(11):
  num_sum += i 
print(num_sum)

55
========================================
55

In [43]:
#169. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for문을 사용하여 작성하라. 
odd_sum = 0
for i in range(11):
  if i %2 == 0:
    pass
  else:
    odd_sum += i 
print(odd_sum)

25

In [46]:
#170. 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for문을 사용하여 작성하라. 
multi_num = 1 
for i in range(1,11):
  multi_num *= i
print(multi_num)

3628800

In [47]:
#171. 아래와 같이 리스트의 데이터를 출력하되, 단 for문과 range문을 사용하라. 
price_list = [32100, 32150, 32000, 32500]
print(price_list[0])
print(price_list[1])
print(price_list[2])
print(price_list[3])
print("="*40)
for element in price_list:
  print(element)

32100
32150
32000
32500
========================================
32100
32150
32000
32500

In [51]:
#172. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라. 
price_list = [32100, 32150, 32000, 32500]
print(0,price_list[0])
print(1,price_list[1])
print(2,price_list[2])
print(3,price_list[3])
print("="*40)
for i in enumerate(price_list):
  print(i)
print("="*40)
for i in range(4):
  print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500
========================================
(0, 32100)
(1, 32150)
(2, 32000)
(3, 32500)
========================================
0 32100
1 32150
2 32000
3 32500

In [52]:
#173. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라. 
price_list = [32100, 32150, 32000, 32500]
for i in range(4): 
  print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [58]:
#174. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라. 
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
  print(100+i*10-10,price_list[i])

100 32150
110 32000
120 32500

In [57]:
#175. my_list를 아래와 같이 출력하라. 
my_list = ["가", "나", "다", "라"]
for i in range(3):
  print(my_list[i],my_list[1+i])

가 나
나 다
다 라

In [60]:
#176. 리스트를 아래와 같이 출력하라. 
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
  print(my_list[i],my_list[1+i],my_list[2+i])

가 나 다
나 다 라
다 라 마

In [61]:
#177. 반복문과 range함수를 사용해서 my_list를 아래와 같이 출력하라. 
my_list = ["가", "나", "다", "라"]
for i in range(3):
  print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가

In [63]:
#178. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라. 
my_list = [100, 200, 400, 800]
for i in range(1,4):
  print(my_list[i]-my_list[i-1])

100
200
400

In [69]:
#179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라. 
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
  print((my_list[2+i]+my_list[1+i]+my_list[i])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [67]:
#180. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
#low, high 두개의 리스트를 사용해서 5일간의 변동폭을 volatility리스트에 저장하라. 
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i,j in zip(low_prices,high_prices):
  volatility.append(j-i)
volatility

[50, 100, 30, 80, 0]

In [1]:
import pandas as pd

In [87]:
#181. 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라. 


df = pd.DataFrame(data=[["101호","102호"],["201호","202호"],["301호","302호"]])
apart = []
for i in range(3):
  element = list(df.loc[i])
  apart.append(element)
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [2]:
#182. 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라. 
df = pd.DataFrame(data = [["시가","종가"],[100,80],[200,210],[300,330]])

stock = []
for i in range(2):
  element = list(df[i])
  stock.append(element)
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [14]:
#183. 아래 표를 stock 이름의 딕셔너리로 표현하라. 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 
#저장해서 value로 저장한다. 종가 역시 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 
#value로 저장한다. 
stock = dict()
dum1_list = []
dum2_list = []
for i in range(2):
  for j in range(1,4):
    if i < 1:
      dum1_list.append(df.iat[j,i])
    else:
      dum2_list.append(df.iat[j,i])
stock["시가"] = dum1_list
stock["종가"] = dum2_list
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [19]:
#184. 아래 표를 stock이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 
#리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다. 
df184 = pd.DataFrame(data=[['10/10', 80, 110, 70, 90],['10/11',210,230,190,200]])
df184

stock=dict()
stock[df184.iat[0,0]] = [df184.iat[0,1],df184.iat[0,2],df184.iat[0,3],df184.iat[0,4]]
stock[df184.iat[1,0]] = [df184.iat[1,1],df184.iat[1,2],df184.iat[1,3],df184.iat[1,4]]
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [23]:
#185. 리스트에 저장된 데이터를 아래와 같이 출력하라. 
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  for j in range(2):
    print(apart[i][j],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [30]:
#186. 리스트에 저장된 데이터를 아래와 같이 출력하라. 
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  for j in range(2):
    print(apart[2-i][j],"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [31]:
#187. 리스트에 저장된 데이터를 아래와 같이 출력하라. 
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
  for j in range(2):
    print(apart[2-i][1-j],"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [32]:
#188. 리스트에 저장된 데이터를 아래와 같이 출력하라. 
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  for j in range(2):
    print(apart[i][j],"호")
    print("-"*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [33]:
#189. 리스트에 저장된 데이터를 아래와 같이 출력하라. 
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  print(apart[i][0],"호")
  print(apart[i][1],"호")
  print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [35]:
#190. 리스트에 저장된 데이터를 아래와 같이 출력하라. 
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for j in i:
    print(j,"호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----