In [37]:
import datetime
import pandas as pd 
import numpy as np

In [4]:
datetime.datetime.now()

datetime.datetime(2022, 8, 11, 3, 2, 19, 619040)

In [7]:
#121. 사용자로부터 문자 한 개를 입력받고, 소문자일 경우, 대문자로 대문자일 경우, 소문자로 변경해서 출력하라. 
from string import ascii_lowercase, ascii_uppercase

alphabet = input("알파벳을 입력하세요. : ")

if alphabet in list(ascii_uppercase) :
  alphabet1 = alphabet.lower()
  print(alphabet1)

elif alphabet in list(ascii_lowercase):
  alphabet2 = alphabet.upper()
  print(alphabet2)

알파벳을 입력하세요. : A
a

In [11]:
#122. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 
#학점을 출력하라. 

point = int(input("점수를 입력하세요 : "))

if (point >= 81) and (point <= 100):
  print("A")
elif (point >= 61) and (point <= 80):
  print("B")
elif (point >= 41) and (point <= 60):
  print("C")
elif (point >= 21) and (point <= 40):
  print("D")
elif (point >= 0) and (point <= 20):
  print("E")

점수를 입력하세요 : 50
C

In [1]:
#123. 사용자로부터 달러, 엔, 유로 또는 위안 금액을 입력받을 후 이를 원으로 변환하는 프로그램 작성하라. 
#각 통화별 환율은 다음과 같다. 사용자는 100달러, 1000엔, 13유로, 100위안 같이 금액과 통화명 사이에
#공백을 넣어 입력한다고 가정한다. 

currency_list = [1167, 1.096, 1268, 171]
c_name = input("화폐를 입력하세요 : ")
currency = int(input("금액을 입력하세요 : "))


if (c_name == "달러"):
  print("1달러 당 {}원".format(currency*(currency_list[0]))

# elif (c_name == "엔") :
  # print("1엔 당 {}원".format(currency*(currency_list[1]))

elif (c_name == "유로"):
  print("1유로 당 {}원".format(currency*currency_list[2]))

elif (c_name == "위안"):
  print("1위안 당 {}원".format(currency*currency_list[3]))

SyntaxError: ignored

In [6]:
#124. 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라. 
num_list = []
first_num = int(input("insert first number : "))
num_list.append(first_num)
second_num = int(input("insert second number : "))
num_list.append(second_num)
third_num = int(input("insert third number : "))
num_list.append(third_num)

max_num = max(num_list)
print("max number is : {}".format(max_num))

insert first number : 10
insert second number : 20
insert third number : 30
max number is : 30

In [22]:
#125. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력받고,
#통신사를 출력하는 프로그램을 작성하라. 
num = input("answer phone number : ")
dummy_num = num.split("-")
index_num = dummy_num[0]
if index_num == '011' :
  print("your telecom is SKT")
elif (index_num == '016') :
  print("your telecom is KT")
elif index_num == '019' :
  print("your telecom is LGU")
elif index_num == '010' :
  print("your telecom is known")
else:
  print("worng number")

answer phone number : 011-5876-5983
your telecom is SKT

In [35]:
#126. 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를 들어, 강북구의 경우,
#010,011,012 세자리로 시작한다. 사용자로부터 5자리우편번호를 받고 구를 판별하라. 

num = input("우편번호를 입력하세요 : ")
target = num[:3]
one_list = ['010', '011', '012']
two_list = ['013', '014', '015']
three_list = ['016', '017','018','019']
if target in one_list:
  print("강북구")

elif target in two_list :
  print("도봉구")

elif target in three_list:
  print("노원구")

우편번호를 입력하세요 : 01612
노원구

In [29]:
#127. 주민등록번호 뒷 자리 7자리중 첫째 자리는 성별을 나타냄. 1,3은 남자. 2,4는 
#여자를 의미한다. 사용자로부터 12자리의 주민등록번호를 입력 받은 후 성별을 출력하는
#프로그램을 작성하라. 
num = input("주민등록번호를 입력하세요 : ")
target = num.split("-")[1]

if (target[0] == "1") or (target[0]== "3"):
  print("당신은 남자 입니다.")
else:
  print("당신은 여자 입니다.")

주민등록번호를 입력하세요930928-1059317
당신은 남자 입니다.

In [50]:
#128. 주민등록번호 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민등록번호를 
#입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라. 
num_list = []
for i in range(0,9):
  num = "0"+str(i)
  num_list.append(num)

index_num = input("주민번호를 입력하세요 : ")
target = index_num.split("-")[1][1:3]

if target in num_list:
  print("서울입니다")
else:
  print("서울이 아닙니다.")

주민번호를 입력하세요 : 930928-1059317
서울입니다

In [51]:
#129. 주민등록번호는 13자리로 구성되는 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용 
#먼저 앞에서부터 12자리의 숫자에 2,3,4,5,6,7,8,92,3,4,5를 차례로 곱한 뒤 그 값을 전부 더 한다. 
#연산 결과값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막
#번호가 된다. 주민등록번호의 유효성을 나타내는 프로그램을 작성하라.

['00', '01', '02', '03', '04', '05', '06', '07', '08']

In [54]:
#130. btc 딕셔너리 안에는 시가, 종가, 최고가. 최저가 등이 저장되어 있다. 최저가와 최고가의 차이를 변동폭으로 정의할 때, (시가 + 변동폭)이 최고가 보다 높을 경우 
#"상승장", 그렇지 않을 경우 '하락장'문자열을 출력하라. 
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [55]:
btc["opening_price"]
btc['closing_price']
btc['min_price']
btc['max_price']

{'acc_trade_value': '93280645900.1368',
 'acc_trade_value_24H': '139401896951.3201',
 'closing_price': '32489000',
 'date': '1660216284723',
 'fluctate_24H': '1631000',
 'fluctate_rate_24H': '5.28',
 'max_price': '32665000',
 'min_price': '31174000',
 'opening_price': '31736000',
 'prev_closing_price': '31734000',
 'units_traded': '2915.88368492',
 'units_traded_24H': '4373.48705291'}