In [2]:
import datetime 
import pandas as pd 
import numpy as np

In [7]:
datetime.datetime.now()

datetime.datetime(2022, 8, 10, 8, 34, 53, 592830)

In [15]:
#091. 아래의 표에서 아이스크림을 키값으로 (가격,재고)리스트를 딕셔너리 값으로 지정하라. 
#딕셔너리의 이름은 inventory라 한다. 
key_list = ["메로나","비비빅","죠스바"]
dict_list=[[300,20],[400,3],[250,100]]
inventory = dict(zip(key_list,dict_list))
inventory["메로나"]

#리스트로 딕셔너리를 만들어줄땐, zip으로 묶어서 만든다.

[300, 20]

In [17]:
#092. inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라. 
inventory["메로나"][0]

300

In [18]:
#093. inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라. 
inventory["메로나"][1]

20

In [20]:
#094. inventory 딕셔너리에 아래 데이터를 추가하라. 
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [33]:
#095. 다음 딕셔너리로부터 key값으로만 구성된 리스트를 생성하라. 
icecream = {"탱크보이":1200,"폴라포":1200,"빵빠레":1800, "월드콘":1500, "메로나":1000}
ice_list= list(icecream.keys())
ice_list

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [25]:
#096. 다음 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라. 
values_list = list(icecream.values())
values_list

[1200, 1200, 1800, 1500, 1000]

In [27]:
#097. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라. 
print("icecream의 총 합 : {}".format(sum(icecream.values())))

icecream의 총 합 : 6700

In [34]:
#098. 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라. 
new_product = {"팥빙수":2700, "아맛나":1000}
icecream.update(new_product)
icecream

{'메로나': 1000,
 '빵빠레': 1800,
 '아맛나': 1000,
 '월드콘': 1500,
 '탱크보이': 1200,
 '팥빙수': 2700,
 '폴라포': 1200}

In [35]:
#099. 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, result 이름의 딕셔너리로 저장한다. 
keys = ("apple","pear","peach")
vals = (300, 250, 400)

results = dict(zip(keys,vals))
print(results)

{'apple': 300, 'pear': 250, 'peach': 400}

In [37]:
#100. date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라. 
date = ["09/05","09/06","09/08","09/09"]
close_price = [10500, 10300, 10100, 10800, 11000]
close_table =dict(zip(date, close_price))
close_table

{'09/05': 10500, '09/06': 10300, '09/08': 10100, '09/09': 10800}

In [39]:
datetime.datetime.now()

datetime.datetime(2022, 8, 10, 9, 21, 29, 420517)

In [3]:
datetime.datetime.now()

datetime.datetime(2022, 8, 10, 13, 7, 28, 789383)

In [4]:
#101. 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
print("예상 정답 : bool")
print("="*40)
print("정답 : bool 타입")

예상 정답 : bool
========================================
정답 : bool 타입

In [6]:
#102. 아래 코드의 출력 결과를 예상하라. 
print(3 == 5)
print("예상 정답 : False가 나올 것 이다.")

False
예상 정답 : False가 나올 것 이다.

In [7]:
#103. 아래 코드의 출력 결과를 예상하라. 
print(3 < 5)
print("예상 정답 : True")

True
예상 정답 : True

In [8]:
#104. 아래 코드의 결과를 예상하라. 
X = 4 
print(1 < X < 5)
print("예상 정답 : True")

True
예상 정답 : True

In [10]:
#105. 아래 코드의 결과를 예상하라. 
print((3 == 3) and (4 != 3) )

True

In [14]:
#106. 아래 코드에서 에러가 발생하는 원인에 대해 설명하라. 
print(3 => 4)
#부호의 순서가 =>가 아닌 >= 이다

SyntaxError: ignored

In [15]:
#107. 아래 코드의 출력 결과를 예상하라. 
if 4 < 3 :
  print("hello world!")

print("예상 정답 : ","안나옴")

예상 정답 :  안나옴

In [16]:
#108. 아래 코드의 출력 결과를 예상하라. 
if 4 < 3 :
  print("Hello world!")
else:
  print("Hi, there")

print("예상 : Hi, there")

Hi, there
예상 : Hi, there

In [17]:
#109. 아래 코드의 출력 결과를 예상하라. 
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

#예상 정답은 1,2,4이 출력된다. False값을 지정하지 않았기 때문이다.

1
2
4

In [18]:
#110. 아래 코드의 출력 결과를 예상하라.
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

# 1, 2 , 5가 출력된다. 첫번째 if문에서 True였고 두번째 if 문에서 False였기 때문에 
#두번째 if문인 1,2가 출력되고, 큰 if문이 종료되고 외부의 print문인 5가 출력된다.

3
5

In [19]:
#111. 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한
#경우의 출력결과이다. 
a = input()
print(a+a)

안녕하세요
안녕하세요안녕하세요

In [21]:
#112. 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라. 
a = int(input("숫자를 입력하세요 : "))
print(a+10)

숫자를 입력하세요 :10
20

In [23]:
#113. 사용자로부터 하나의 숫자를 입력받고 짝수/ 홀수를 판별하라. 
a = int(input("숫자를 입력하세요 : "))

if a%2 == 0 :
  print("짝수")
else:
  print("홀수")

숫자를 입력하세요 : 5
홀수

In [25]:
#114. 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단, 사용자가 
#입력한 값과 20을 더한 계산 값이 255를 초과하는 경우, 255를 출력해야 한다. 

a = int(input("숫자를 입력하세요 : "))

if a <= 255 :
  print(a+20)
elif a > 255 :
  print(255)

숫자를 입력하세요 : 260
255

In [35]:
#115. 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
#단, 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이 되는 경우, 0을 출력
#하고 255보다 큰 값이 되는 경우 255를 출력해야 한다. 

a = int(input("숫자를 입력하세요 : "))

if  (a >= 20) and (a <= 275):
  print(a-20)

elif a < 20 :
  print(0)

elif a > 275 : 
  print(255)

숫자를 입력하세요 : 274
254

In [ ]:
#116. 사용자로부터 입력 받은 시간이 정각인지 판별하라. 
a = datetime(input("시간을 입력해주세요 : "))

if a

In [37]:
#117. 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
fruit = ["사과",'포도',"홍시"]
a = input("what is favorite fruit in korean? : ")

if a in fruit : 
  print("정답입니다.")

else:
  print("오답입니다.")

what is favorite fruit in korean? : 감
오답입니다.

In [49]:
#118. 투자 경고 종목리스트가 있을때 사용자로부터 종목명을 입력 받은 후, 
#해당 종목이 투자 경고 종목이라면, '투자경고종목입니다.' 아니라면, "투자 경고 종목이 아닙니다"
#를 출력하는 프로그램을 작성하라. 

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

a = input("insert company name in English : ").lower()


if a in [f.lower() for f in  warn_investment_list]:
  print("투자 경고 종목입니다.")
else:
  print("투자 경고 종목이 아닙니다.")

insert company name in English : GOOGLE
투자 경고 종목입니다.

In [52]:
#119. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 값에 
#포함되어 있다면, "정답입니다", 아닐 경우, "오답입니다"를 출력하라. 
fruit = {"봄": "딸기","여름":"토마토","가을":"사과"}

a = input("제가 좋아하는 계절은 : ")

if a in list(fruit.keys()):
  print("정답입니다.")

else:
  print("오답입니다.")

제가 좋아하는 계절은 : 겨울
오답입니다.

In [54]:
#120. 아아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 
#"정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input("좋아하는 과일은? : ")

if a in fruit.values():
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은? : 한라봉
오답입니다.

In [55]:
datetime.datetime.now()

datetime.datetime(2022, 8, 10, 16, 23, 36, 949639)