In [ ]:
import datetime 
import numpy as np
import pandas as pd

In [ ]:
datetime.datetime.now()

datetime.datetime(2022, 8, 4, 5, 45, 39, 608733)

In [ ]:
#001.화면에 hello world 문자열을 출력하세요.
print("hello world")

#002. 화면에 mary's cosmetics을 출력하세요
print("mary's cosmetics")

#003. 화면에 아래 문장을 출력하세요.
print("신씨가 소리질렀다. \"도둑이야\".") #문자열안에 "",'' 기호를 넣을려면 "\"과 같이 표기한다. 

#004. 화면에 "C:\Windows"를 출력하세요.
print("C:＼Windows")

#005. 다음코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

print("'\t' : 탭 \n '\n' : 줄 바꾸기")

hello world
mary's cosmetics
신씨가 소리질렀다. "도둑이야".
C:＼Windows
안녕하세요.
만나서		반갑습니다.
'	' : 탭
 '
' : 줄 바꾸기

In [ ]:
#006. print()함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다. 
print("오늘은","일요일")

#007. print()함수를 사용하여 다음과 같이 출력하세요. 
print("naver;kakao;sk;samsung")
print("naver","kakao","sk",'samsung',sep=";")

#008. print() 함수를 이용하여 다음과 같이 출력하세요.
#naver/kakao/sk/samsung
print("naver","kakao","sk",'samsung',sep="/")

#009. 다음 코드를 수정하여 줄바꿈없이 출력하세요. print() 함수는 두 번 사용합니다.
#세미콜론은 한줄에 여러 개의 명령을 작성하기 위해서 사용합니다. 
print("first",end="");print("second") #print()함수 내에 end 옵션을 주어 이어지게 한다. 

#010. 5/3의 결과를 화면에 출력하세요 
sol = 5/3
print("5/3 :%.3f"%sol)

오늘은 일요일
naver;kakao;sk;samsung
naver;kakao;sk;samsung
naver/kakao/sk/samsung
firstsecond
5/3 :1.667

In [ ]:
#011. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때,
#총 평가금액을 출력하세요.
삼성전자 = 50000
주식_수 = 10
print(삼성전자*주식_수)

500000

In [ ]:
#012. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요

In [ ]:
#013. 문자열 출력
#변수 s와 t에는 각각 문자열이 바인딩 되어 있습니다. 
#두 변수를 이용하여 아래와 같이 출력해보세요.
s = "hello"
t = "python"

print(s,"!",t) #틀림
print(s+"!",t)

hello ! python
hello! python

In [ ]:
#014. 파이썬을 이용한 값 계산 
#아래 코드의 실행 결과를 예상해보세요 
#정답은 8을 예상한다. 
2 + 2 * 3

8

In [ ]:
#015. type()함수는 데이터 타입을 판별합니다. 변수 a에는 128숫자가 바인딩돼 있어 type함수가 int(정수)형임
#을 알려줍니다. a = 128 이 할당되어있는 값의 타입을 판별해보세요.

a = 132 
print(type(a))

<class 'int'>

In [ ]:
#016. 문자열 '720'을 정수형으로 변환해보세요.
num_str = "720"
num_str = int(num_str)
print(type(num_str))
print(num_str+1, type(num_str))

<class 'int'>
721 <class 'int'>

In [ ]:
#017. 정수 100을 문자열 "100"으로 변환해보세요.
num = 100
result = str(num)
print(result, type(result))

TypeError: ignored

In [ ]:
#018. 문자열 "15.79"를 실수(float)타입으로 변환해보세요.
str1 = "15.79"
num3 = float(str1)
print(num3, type(num3))

15.79 <class 'float'>

In [ ]:
#019. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후, 최근 3년의 연도를 
#화면에 출력해보세요.
year = "2020"
year_int = int(year)
print(year_int,year_int+1, year_int+2, sep=",")

2020,2021,2022

In [ ]:
#020. 에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
#총 금액은 계산한 후 이를 화면에 출력해보세요.(변수사용하기)
per_cost = 48584
month = 36
print("total cost is :{}".format(per_cost*month))

total cost is :1749024

In [ ]:
#021. 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = "python"

print(letters[0],letters[2])

p t

In [ ]:
#022. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요. 
license_plate = "24가 2210"
print(len(license_plate))
print(license_plate[4:])

8
2210

In [ ]:
#023. 아래의 문자열에서 "홀"만 출력하세요.
string = "홀짝홀짝홀짝"

print(string[0],string[2],string[4],sep="")
print("="*20)
for i in range(6):
  if (i%2 == 0):
    print(string[i],end="")
  else:
    pass
print("\n")
print("="*20)
print(string[::2])

홀홀홀
====================
홀홀홀

====================
홀홀홀

In [ ]:
#024. 문자열을 거꾸로 뒤집어 출력하세요.
string="PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#025. 아래의 전화번호에서 하이푼("-")을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number = phone_number.replace("-"," ")
phone_number

'010 1111 2222'

In [ ]:
#026. 25번 문제의 번화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number = "010-1111-2222"
phone_number = phone_number.replace("-","")
phone_number

'01011112222'

In [ ]:
#027. url에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[-2:])
print("="*20)
url_split = url.split(".")
print(url_split)
print(url_split[-1])

kr
====================
['http://sharebook', 'kr']
kr

In [ ]:
028. #아래 코드의 실행 결과를 예상해보세요.
try:
  lang = "python"
  lang[0] = "P"
  print(p)
  print("="*40)
except:
  pass
print("p가 P로 변경될 것이다.")
print("="*40)
print("실행되지 않는다.")
print("="*40)
print("문자열은 수정할 수 없다.")

p가 P로 변경될 것이다.
========================================
실행되지 않는다.
========================================
문자열은 수정할 수 없다.

In [ ]:
#029. 아래 문자열에서 소문자'a'를 대문자'A'로 변경하세요.
string = 'abcdfe2a354a32a'
replace_string = string.replace("a","A")
replace_string

'Abcdfe2A354A32A'

In [ ]:
#030. 아래 코드의 실행 결과를 예상해보세요.
string = "abcd"
string.replace('b',"B")
print("="*40)
print('예상 : aBcd가 출력될 것이다.')
print("="*40)
print(string)
print("문자열은 치환될 수 없기 때문에 그대로 출력된다.")

========================================
예상 : aBcd가 출력될 것이다.
========================================
abcd
문자열은 치환될 수 없기 때문에 그대로 출력된다.

In [ ]:
#031. 아래 코드의 실행 결과를 예상해보세요.
a = '3'
b = "4"
print("="*40)
print(a + b)
print("="*40)
print(34)
print("3, 4가 문자열로 할당되었기 때문이다.")

========================================
34
========================================
34
3, 4가 문자열로 할당되었기 때문이다.

In [ ]:
#032. 아래 코드의 실행 결과를 예상해보세요.
print("실행결과")
print("-"*40)
print("Hi"*3)
print("="*40)
print("HiHiHi")
print("="*40)

실행결과
----------------------------------------
HiHiHi
========================================
HiHiHi
========================================

In [ ]:
import datetime

datetime.datetime.now()

datetime.datetime(2022, 8, 4, 1, 19, 51, 347885)

In [ ]:
#033. 화면에 '-'를 80개 출력하세요
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
#034.변수에 다음과 같은 문자열이 바인딩되어 있다. 
#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보시오.
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*3)

python java python java python java

In [ ]:
#035. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 %formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

print("="*40)
print("정답")
print("="*40)
print("이름 : %s 나이: %d" %(name1,age1))
print("이름 : %s 나이: %d" %(name2,age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13
========================================
정답
========================================
이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

In [ ]:
#036. 문자열의 format()매서드를 사용해서 35번 문제를 다시 풀어보세요.

In [ ]:
#037. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름 :%s 나이 : %d'%(name1, age1))
print(f'이름 :%s 나이 : %d'%(name2, age2))

이름 :김민수 나이 : 10
이름 :이철희 나이 : 13

In [ ]:
#038. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타임으로 변환하라. 
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(",",""))
print(상장주식수)

5969782550

In [ ]:
#039. 다음과 같은 문자열에서 2020/03만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [ ]:
#040. 문자열의 좌우의 공백이 있을 때 제거해보세요. 
data = "    삼성전자     "
data = data.replace(" ","")
print(data)
print("="*40)
data1 = "    삼성전자     "
data1 = data1.strip()
print(data1)

삼성전자
========================================
삼성전자

In [ ]:
#041. 다음과 같은 문자열이 있을 때, 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [ ]:
#042. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker2 = ticker.lower()
print(ticker2)

btc_krw

In [ ]:
#043. capitalize, 문자열 "hello"가 있을 때 이를 "Hello"로 변경해보세요.
str = "hello"
str = str.capitalize()
print(str)

Hello

In [ ]:
#044. endswith, 파일 이름이 문자열로 저장되어 있을 때 endswith메서드를 사용해서 파일이름이 "xlsx"로 
#끝나는지 확인해보세요. 
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
#045. 파일 이름이 문자열로 저장되어 있을 때 endswith 매서드를 사용해서 파일 이름이 
# "xlsx" 또는 "xls"로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
#046. startswith, 파일이름이 문자열로 저장되어 있을 때, startswith()를 사용해서 파일이름이 
#"2020"로 시작하는지 확인해보세요. 
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
datetime.datetime.now()

datetime.datetime(2022, 8, 4, 7, 13, 18, 219414)

In [ ]:
#047. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

print(ticker.split('_'))

['btc', 'krw']

In [ ]:
#049. 다음과 같이 날짜를 표현하는 문자열이 있을 때, 연도, 월, 일로 나눠보세요.
date = "2020-05-01"

splited_date = date.split("-")
splited_date

['2020', '05', '01']

In [ ]:
#050. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490      "
skiped_data = data.rstrip()
skiped_data

'039490'

In [ ]:
#051. 2016년 11월 영화 예매 순위 기준 top3이다. 영화 제목을 movie_rank 이름의 리스트에서
#저장해보세요.
movie_rank =["닥터스트레인지","스플릿","럭키"]
movie_rank

['닥터스트레인지', '스플릿', '럭키']

In [ ]:
#052. 51번의 리스트에 "배트맨"을 추가하라. 
movie_rank.append("배트맨")
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#053. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
#"슈퍼맨"을 "닥터스트레인지"와 "스플릿"사이에 추가하라 
movie_rank.insert( 1,"슈퍼맨")
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#054. movie_rank에서 "럭키"를 삭제하라. 
# movie_rank.remove("럭키")
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#055. movie_rank 리스트에서 "스플릿"과 "배트맨"을 삭제하라. 
# movie_rank.remove('스플릿')
# movie_rank.remove('배트맨') 
movie_rank
print("del movie_rank[1]")
print("del movie_rank[2]")

del movie_rank[1]
del movie_rank[2]

In [ ]:
#056. lang1과 lang2 리스트가 있을때 lang1과 lang2의 원소를 모두 갖고 있는 langs리스트를 만들어라.
lang1 = ["C","C++","JAVA"]
lang2 = ["python","Go","C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'python', 'Go', 'C#']

In [ ]:
#057. 다음 리스트에서 최댓값과 최솟값을 출력하라. 
num = [1,2,3,4,5,6,7]

print("max is {}".format(max(num)))
print("min is {}".format(min(num)))

max is 7
min is 1

In [ ]:
#058. 다음 리스트의 합을 출력하라. 
nums = [1,2,3,4,5]
print("nums's sum is {}".format(sum(nums)))

nums's sum is 15

In [ ]:
#059. 다음 리스트에 저장된 데이터의 개수를 화면에 구하여라. 
cook = ["피자","김밥","만두","양념치킨","족발","피자","쫄면","소시지","라면",
        "팥빙수","김치전"]
print("cook's element total is {}".format(len(cook)))
# print("cook's element tottal is {}".format(count(cook)))

cook's element tottal is 11

In [ ]:
#060. 다음 리스트의 평균을 출력하라. 
nums = [1,2,3,4,5]

print("nums's average is {}".format(sum(nums)/len(nums) ))

nums's average is 3.0

In [ ]:
#061. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 
#출력하라. 
price = ["20180728",100,130,140,150,160,170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#062. 슬라이싱을 사용해서 홀수만을 출력하라. 
nums = [1,2,3,4,5,6,7,8,9,10]

for i in range(len(nums)):
  if i%2 == 0:
    print(nums[i],end=" ")
  else:
    pass

print(nums[::2])

1 3 5 7 9 [1, 3, 5, 7, 9]

In [ ]:
#063. 슬라이싱을 사용해서 짝수만을 출력하라. 
print(nums[1::2])
print("="*40)
for i in range(len(nums)):
  if i%2 != 0:
    print(nums[i], end=" ")
  else:
    pass

[2, 4, 6, 8, 10]
========================================
2 4 6 8 10