In [15]:
import datetime
import numpy as np
import pandas as pd

In [16]:
datetime.datetime.now()

datetime.datetime(2022, 8, 5, 6, 6, 30, 663779)

In [18]:
#064. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라. 

nums = [1,2,3,4,5]

print(nums[-1::-1])
print("="*40)
print("정답 : nums[::-1]")

[5, 4, 3, 2, 1]
========================================
정답 : nums[::-1]

In [19]:
#065. interest 리스트에는 아래의 데이터가 바인딩되어 있다. 
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라. 
interest = ["삼성전자","LG전자","Naver"]
print(interest[0]+" "+interest[2])

삼성전자 Naver

In [24]:
#066. interest 리스트에는 아래의 데이터가 바인딩되어 있다. 
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라. 

interest = ["삼성전자","LG전자","Naver","SK하이닉스","미래에셋대우"]

for i in range(len(interest)):
  print(interest[i], end=" ")
print("\n")
print("="*40)
print("정답 :") 
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

========================================
정답 :
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [25]:
#067. interest 리스트를 사용하여 아래와 같이 화면에 출력하라. 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [26]:
#068. (join) join매서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력해라. 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [28]:
#069. 문자열 split 매서드 
#회사 이름이 슬래시("/")로 구분되어 하나의 문자열로 저장되어 있다. 
#이를 interest이름의 리스트로 분리 저장하라. 

string = "삼성전자/LG전자/Naver"

interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [43]:
#070. 리스트 정렬 
#리스트에 있는 값을 오름차순으로 정렬하세요. 
data = [2,4,3,1,5,10,9]

data.sort()
data

#list를 변환할 때 list 자체를 변수 지정하면 Nonetype으로 출력된다. 

print("="*40)
print("정답 : ","1) data.sort()","2) data2 = sorted(data)")

========================================
정답 :  1) data.sort() 2) data2 = sorted(data)

In [46]:
#071. my_variable 이름의 비어있는 튜플을 만들어라. 

my_varilable = ()

print("="*40)
print("정답");print("\n")
print(type(my_varilable))

========================================
정답


<class 'tuple'>

In [61]:
#072. 2016년 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. 
#순위 정보는 저장하지 않는다. 
df = pd.DataFrame(data={"순위":[1,2,3],"영화":["닥터 스트레인지","스플릿","럭키"]})
movie_rank = tuple(df["영화"])
len(movie_rank)
print(type(movie_rank))

<class 'tuple'>

In [65]:
#073. 숫자 1이 저장된 튜플을 생성하라. 
exam_tuple = (1,)
print(exam_tuple, type(exam_tuple))

(1,) <class 'tuple'>

In [66]:
#074. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라. 
t = (1,2,3)
t[0] = 'a'
# tuple은 슬라이싱 할 수 없다. 즉, tuple은 변경이 불가능하다.

TypeError: ignored

In [69]:
#075. 아래와 같이 t에는 1, 2, ,3 ,4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가? 
t = 1,2,3,4 
print("예상 : int")
print("="*40)
print("정답 : ",type(t))
#tuple은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작한다,

예상 : int
========================================
정답 :  <class 'tuple'>

In [71]:
datetime.datetime.now()

datetime.datetime(2022, 8, 5, 8, 6, 53, 211810)

In [72]:
#075. 아래와 같이 t에는 1,2,3,4가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가? 
t = 1,2,3,4 
print("예상 : tuple")
print("="*40 )
print("정답 :",type(t))

예상 : tuple
========================================
정답 : <class 'tuple'>

In [74]:
#076. 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A','B','C')튜플을 가르키도록 수정하라 
t = ('a','b','c')
t = ('A',"B",'C')
t
#튜플의 값은 변경이 되지 않기 때문에, 새로운 값을 변수에 할당해 준다.

('A', 'B', 'C')

In [76]:
#077. 다음 튜플을 리스트로 변환하라. 
interest = ("삼성전자","LG전자","SK Hynix")
interest = list(interest)
print(interest,type(interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [78]:
#078. 다음 리스트를 튜플로 변경하라. 
interest = ["삼성전자","LG전자","SK Hynix"]
interest = tuple(interest)
print(interest,type(interest))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [80]:
#079. 다음 코드의 실행 결과를 예상하라.
temp = ("apple","banana","cake")

a,b,c = temp
print('예상 : ("apple","banana","cake")')
print("="*40)
print("정답 :",a,b,c)
#각각의 변수에 할당된다.

예상 : ("apple","banana","cake")
========================================
정답 : apple banana cake

In [82]:
#080. 1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라. 
correct_tuple = tuple(range(2,99,2))
correct_tuple

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

In [89]:
#기본적으로 데이터 언패킹은 좌변의 변수와 우변의 데이터 개수가 같아야 한다. 
#하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있다. 
#튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없다. 
#081. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여
#좌측 8개의 값을 vaild_score 변수에 바인딩하라. 
scores =[8.8,8.9,8.7,9.2,9.3,9.7,9.9,9.5,7.8,9.4]

*vaild_score,a,b = scores
print(a)
print(b)
print(vaild_score)

7.8
9.4
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [90]:
#082. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 
#사용하여 우측 8개의 값을 vaild_score 변수에 바인딩하여라. 
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
len(scores)
a, b, *vaild_score = scores
vaild_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [91]:
#083. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 
#사용하여 가운데 있는 8개의 값을 vaild_score 변수에 바인딩하여라. 
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *vaild_score,_ = scores
vaild_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [92]:
#084. temp 이름의 비어있는 딕셔너리를 만들어라. 
temp ={} 
temp1 = dict()

print("temp's type is :",type(temp))
print("temp1's type is :",type(temp1))

temp's type is : <class 'dict'>
temp1's type is : <class 'dict'>

In [93]:
#085. 다음 아이스크림 이름과 희망가격을 딕셔너리로 구성하라. 
icecream = {"메로나":1000,"폴라포":1200,"빵빠레":1800}
icecream

{'메로나': 1000, '빵빠레': 1800, '폴라포': 1200}

In [100]:
#086. 085번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라. 
icecream["죠스바"] = 1200
icecream["월드콘"] = 1500
icecream

{'메로나': 1000, '빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

In [101]:
 #087. 다음 딕셔너리를 이용하여 메로나 가격을 출력하라.
 print("내 정답 :",icecream["메로나"])
 print("="*40)
print("메로나 가격: ", icecream["메로나"])

내 정답 : 1000
========================================
메로나 가격:  1000

In [102]:
#088. 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라. 
icecream["메로나"] = 1300
icecream

{'메로나': 1300, '빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

In [103]:
#089. 다음 딕셔너리에서 메로나를 삭제해라. 
del icecream["메로나"]
icecream

{'빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

In [104]:
#090. 다음 코드에서 에러가 발생한 원인을 설명하라. 
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
#dict안에 "누가바"키 값을 가진 value값이 없기 때문이다.

KeyError: ignored